.footer {
    background-color: #f8f8f8;
    padding: 20px;
    color: rgb(138, 153, 226);
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer-content {
    flex: 1;
  }
  
  .footer {
    margin-top: auto;
  }

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    color: rgb(138, 153, 226);
  } */


.content {
    color: rgb(138, 153, 226);
}
  
a {
    text-decoration: none;
    color: rgb(236, 29, 29);
}

/* CSS for footer section */
.footer-left {
    width: 75%;
    float: left;
}
  
.footer-right {
    width: 25%;
    float: right;
}
  
.truso {
    font-weight: bold;
}
  
.coso {
    margin-top: 5px;
}
  
.icon-lien-he-zalo,
.icon-lien-he-instagram,
.icon-lien-he-tiktok,
.icon-lien-he-facebook,
.icon-lien-he-twice,
.icon-lien-he-youtube {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
  
#namfooter {
    font-size: small;
}
  /*  */
  
.icon-lien-he-zalo {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -743px -113px transparent;
    height: 25px;
    width: 25px;
}
  
.icon-lien-he-instagram {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -774px -113px transparent;
    height: 25px;
    width: 25px;
}
  
.icon-lien-he-tiktok {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -804px -113px transparent;
    height: 25px;
    width: 25px;
}
  
.icon-lien-he-facebook {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -835px -113px transparent;
    height: 25px;
    width: 25px;
}
  
.icon-lien-he-twice {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -866px -113px transparent;
    height: 25px;
    width: 25px;
}
  
.icon-lien-he-youtube {
    background: url(https://www.hutech.edu.vn/images/icon-hutech.png) no-repeat scroll -897px -113px transparent;
    height: 25px;
    width: 25px;
}
  
  
  /* Additional CSS for responsiveness (based on Bootstrap grid) */
@media (max-width: 767px) {
    .footer-left,
    .footer-right {
      width: 100%;
      float: none;
    }
}
  
